.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e1013;
    color: #ffffff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffa500;
    padding: 1em 2em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hero{
    height: 100vh;
    width: 100%;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
nav{
    background: black;
    width: 84%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
 width: 100px;
 cursor: pointer;   
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background 0.3s;
}
nav ul li a:hover{
    color: blue;
}
#home {
    background: linear-gradient(to right,#0e1013 40%, #23476a 60%, #4ea1d3);
    padding: 40% 0;
    text-align: center;
}
.home-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.home-content h3{
font-size: 70px;
color: #212121;
margin-bottom: 20px;
}
.home-content p{
    color: white;
line-height: 22px;
}
.home-content a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: name;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 20px;
}
.intro h1{
font-size: 2.5em;
margin-bottom: 0em;
}
.intro h2{
    font-size: 4.5em;
    margin-bottom: 0;
}
.intro p{
    font-size: 1.2em;
    margin-bottom: 1em 0;
}
.right-img{
    width: 45%;
    height: 71%;
    position: absolute;
    bottom: 0;
    right: 100px;
    color: black ;
}


.right-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.right-img img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
} 
.right-img:hover .shape{
    bottom: 40px;
}
.right-img:hover .myimg{
    left: 54%;
}
.resume-button{
    background: blue;
    color: white;
    border-radius: 35%;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.resume-button:hover{
    background: #d18900;
}
#about{
    background: #1a1f23;
    color: #ffffff;
    padding: 4em 0;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.about-left{
flex: 1;
margin-right: 3%;
text-align: justify;
}


.skills{
    flex: 1;
    margin: 5%;
}
.skill{
    display: flex;
    align-items: center;
    margin: 2em 0;
}
.skill span{
    flex: 0 0 100px;
    text-align: left;
}
.progress{
    background: #2a2a2a;
    border-radius: 15px;
    overflow: hidden;
    height: 20px;
    width: calc(100%-110px);
    margin-left: 1em;

}
.progress-bar{
    height: 100%;
    color: black;
    text-align: center;
    line-height: 20px;
    transition: width 0.3s ease-in-out;
    position: relative;
    border-radius: 15px;
    background:#ffa500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.proficient{
    width: 95%;
}
.intermediate{
width: 85%;
}
#contact{
    background: #1a1f23;
    color: #ffffff;
    padding: 4em 0;
    text-align:center;
}
footer{
    text-align: center;
    padding: 1em 0;
    background: #0e1013;
    color: #ffa500;
}